@charset "utf-8";


form{
    width: 60%;
    height: auto;
    background: skyblue;
    margin: 20px auto;
    padding: 20px;
}

label{
    display: block;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    color: black;
}

input{
    width: 60px;
    height: 20px;
    background: gray;
    border: none;
    color: aquamarine;
}

textarea{
    width: 60%;
    height: 70px;
    background: grey;
    border: none;
}

#boton{
    width: 30%;
    height: 25px;
    background-color: rgb(37, 227, 37);
    display: block;
    color: whitesmoke;
}